:root {
  --green: #3aafa9;
  --dark-gr: #2b7a78;
  --dark: #17252a;
  --light: #def2f1;
  --lighter: #feffff;
  --rose: #FFC0C7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--green);
}
/***************** navigation bar ****/
#nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 58px;
}
#logo {
  height: 58px;
  margin-right: 1vh;
  position: fixed;
  top: 0;
  left: 0;
}
#name {
  color: var(--dark-gr);
}
#nav .lesson {
  text-decoration: none;
  color: black;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
#nav .lesson p {
  width: 100%;
  text-align: center;
}
#nav .lesson:hover {
  background-color: var(--dark-gr);
  color: white;
}
.menu {
  display: none;
}
#menu {
  color: white;
  width: 45vw;
  display: none;
  cursor: pointer;
}

h2 {
  width: 800px;
}
/***************** body ***/
#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
} 
#search-con {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
#search-con input {
  font-size: 17px;
  height: 45px;
  width: 40%;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 15px 0 0 15px;
}
#search-con span {
  background-color: var(--dark-gr);
  height: 45px;
  color: white;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
#subtitle {
  color: var(--dark);
  text-align: center;
  padding: 0 20% 0 20%;
  font-weight: bold;
  font-size: 16px;
}
.cta {
  background-color: var(--dark);
  color: var(--rose);
  box-shadow: none;
  font-size: 30px;
  outline: none;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.cta:hover {
  background-color: var(--rose);
  color: var(--dark);
}

.wrapper section div {
  position: relative;
  top: 19vh;
}

@media only screen and (max-width: 600px) {
  #subtitle {
    font-size: 15px;
  }
  #title {
    height: 80px;
  }
}
@media only screen and (max-width: 465px) {
  #nav .lesson p {
    display: none;
  }
  .menu {
    display: block;
  }
    #nav {
      height: 38px;
    }
  
    #logo {
      height: 38px;
    }
  
    #hr {
      top: 38px;
    }
  #menu {
    z-index: 1;
    display: none;
    position: fixed;
    top: 38px;
    right: 0;
    width: 40vw;
    background-color: var(--light);
    text-align: center;
  }
  #menu a {
    text-decoration: none;
    color: black;
  }
  #menu a:hover p {
      background-color: var(--grey);
  }
  #nav .lesson {
    display: none;
  }
  #search-con input {
    width: 250px;
    min-width: 150px;
    font-size: 12px;
  }
  .cta {
    font-size: 20px;
  }
}